

.avatar{
  width:200px;
  border: 5px solid black;
  border-radius: 80px;
}

.card{
padding: 30px;
display: block;
background:#C0C0C0;
}

body{
  width: 400px;
background-color: #fff5e6;
margin: 50px auto;
text-align: center;
border:10px solid black ;
}

.border-blue{
  border: 3px solid black;
  margin:10px;
  font-style: italic;
  font-weight: bolder;
  font-family: cursive;
}
